In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import seaborn as sns
from sklearn import linear_model
from sklearn import preprocessing;
from sklearn.model_selection import cross_validate as cross_validation
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# %matplotlib inline
plt.show(block=True)

C:\Users\fredy\anaconda3\envs\gpu-python\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
import datetime
from datetime import timedelta
forecast_out = 365 #Days from now

stock_ticker ='AMZN'

end = datetime.datetime.now()#-timedelta(7) #remove timedetla -1 to go to productions mode
start = datetime.datetime.now()-timedelta(3650)

# benchmark = web.DataReader(stock_ticker, 'yahoo', start, end )
stock = web.DataReader(stock_ticker, 'yahoo', start, end)

In [3]:
stock

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-05-04,135.809998,128.380005,135.619995,129.830002,12667800,129.830002
2010-05-05,131.610001,127.550003,128.000000,130.929993,9458100,130.929993
2010-05-06,132.330002,120.599998,130.000000,128.710007,10189000,128.710007
2010-05-07,131.179993,123.760002,127.970001,124.980003,11927600,124.980003
2010-05-10,132.210007,129.259995,129.729996,131.289993,6806100,131.289993
...,...,...,...,...,...,...
2020-04-27,2444.879883,2363.000000,2443.199951,2376.000000,5645600,2376.000000
2020-04-28,2373.500000,2306.000000,2372.100098,2314.080078,5269400,2314.080078
2020-04-29,2391.889893,2310.000000,2330.010010,2372.709961,4591600,2372.709961
2020-04-30,2475.000000,2396.010010,2419.840088,2474.000000,9415000,2474.000000
2020-05-01,2355.810059,2325.000000,2419.840088,2354.000000,729227,2354.000000

In [4]:
test_size=20
test_index = len(stock['Adj Close'])- test_size

In [5]:
train = stock['Adj Close'].iloc[:test_index]
test= stock['Adj Close'].iloc[test_index:]

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
scaler=MinMaxScaler()

In [8]:
scaler.fit(train.to_frame())

MinMaxScaler(copy=True, feature_range=(0, 1))

In [9]:
scaled_train = scaler.transform(train.to_frame())

In [10]:
scaled_test = scaler.transform(test.to_frame())

In [12]:
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator

In [13]:
len(test)

20

In [14]:
length=19
generator = TimeseriesGenerator(scaled_train,scaled_train, length=length, batch_size=1)

In [15]:
from tensorflow.keras.models import Sequential

In [16]:
from tensorflow.keras.layers import Dense, LSTM, Dropout

In [17]:
n_features =1

In [18]:
model= Sequential()
model.add(LSTM(50, activation='relu', input_shape=(length, n_features)))
model.add(Dropout(0.5))
model.add(Dense(10, activation='relu'))
# model.add(CuDNNLSTM(100, activation='relu', input_shape=(length, n_features)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 50)                10400
_________________________________________________________________
dropout (Dropout)            (None, 50)                0
_________________________________________________________________
dense (Dense)                (None, 10)                510
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 11
=================================================================
Total params: 10,921
Trainable params: 10,921
Non-trainable params: 0
_________________________________________________________________

In [20]:
from tensorflow.keras.callbacks import EarlyStopping

In [21]:
early_stop = EarlyStopping(monitor='val_loss', patience=2)

In [22]:
validation_generator= TimeseriesGenerator(scaled_test, scaled_test,
                                          length=length, batch_size =1)

In [23]:
# model.fit_generator(generator, epochs=20
#                    validation_data=validation_generator, callbacks=[early_stop])
model.fit_generator(generator, epochs=20,
                   validation_data=validation_generator, callbacks=[early_stop])

WARNING:tensorflow:From <ipython-input-23-a1bb33b40d90>:4: Model.fit_generator (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
Please use Model.fit, which supports generators.
WARNING:tensorflow:sample_weight modes were coerced from
  ...
    to
  ['...']
WARNING:tensorflow:sample_weight modes were coerced from
  ...
    to
  ['...']
Train for 2478 steps, validate for 1 steps
Epoch 1/2
2478/2478 [==============================] - 45s 18ms/step - loss: 0.0087 - val_loss: 0.0519
Epoch 2/2
2478/2478 [==============================] - 43s 18ms/step - loss: 0.0038 - val_loss: 0.1232

In [23]:
import tensorflow as tf
tf.keras.backend.clear_session()

In [28]:
losses= pd.DataFrame(model.history.history)
losses.plot()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   loss      2 non-null      float64
 1   val_loss  2 non-null      float64
dtypes: float64(2)
memory usage: 160.0 bytes

In [ ]:
test_predictions =[]
first_eval_batch = scaled_train[-length:]
current_batch = first_eval_batch.reshape((1, length, n_features))
for i in range(len(test)):
    current_pred = model.predict(current_batch)[0]
    test_predictions.append(current_pred)
    current_batch = np.append(current_batch[:,1:,:],[[current_pred]], axis=1)

In [ ]:
true_predictions =scaler.inverse_transform(test_predictions)

In [ ]:
predictions = pd.DataFrame(test)
# predictions['Test set'] = test.to_frame()

In [ ]:
# test['Predictions'] = true_predictions
predictions['Predictions'] = true_predictions

In [ ]:
predictions.plot(figsize=(12,8))